
# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json

# IntelliJ / WebStorm
.idea/

# =========================
# Docker
# =========================
*.pid
docker-data/
.pgdata/

# =========================
# Temporary / Runtime
# =========================
tmp/
temp/

# =========================
# Database dumps
# =========================
*.dump
*.backup

# =========================
# Additional Files
# =========================
shivraj*
proton*
init.sh